body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #343f3f;
    color: rgb(9, 7, 7);
}

.header {
    text-align: center;
    color: rgb(207, 221, 17);
}

.pokecard {
    border: 5px solid white;
    margin: 15px;
    padding: 20px;
    display: flex;
    transition: 0.5s;
}

.pokecard:hover {
    background-color: #331bbb;
    color: rgb(228, 244, 243);
    transform: translate(10px, 10px);
}

.pokebox {
    border: 2px solid rgb(212, 232, 30);
}

    body2 {
        font-family: 'times', 'arial', monospace;
        background-color: #021514;
        color:rgb(228, 244, 243)
}
.headliner {
    text-align: justify;
}

.fightercard {
    border: 8px double goldenrod;
    margin:5px;
    padding: 20px;
    transition: 0.1s;
    color: white;
}
.info:hover {
    color: darkgoldenrod;
    transform: translate(5px, 5px);
    background-color:#343f3f;


}

.card-img-box {
    display: flex;
    justify-content: center;
    background-color: beige;
}

.card-header-img {
    justify-content: center;
}

